:root,
:root[data-theme="light"] {
  color-scheme: light;

  --figma-bg-page: var(--figma-color-beige-50);
  --figma-bg-accent: var(--figma-color-green-700);
  --figma-bg-transparent: transparent;

  --figma-text-primary: var(--figma-color-neutral-900);
  --figma-text-secondary: var(--figma-color-neutral-700);
  --figma-text-accent: var(--figma-color-green-700);
  --figma-text-on-accent: var(--figma-color-neutral-0);

  --figma-border-default: var(--figma-color-neutral-200);
  --figma-border-accent: var(--figma-color-green-700);

  --figma-icon-primary: var(--figma-color-neutral-900);
  --figma-icon-secondary: var(--figma-color-neutral-700);
  --figma-icon-accent: var(--figma-color-green-700);
  --figma-icon-on-accent: var(--figma-color-neutral-0);

  --figma-button-secondary-text: var(--figma-text-accent);
  --figma-button-secondary-icon: var(--figma-icon-accent);
  --figma-button-secondary-border: var(--figma-border-default);
  --figma-button-secondary-bg: var(--figma-bg-transparent);
  --figma-button-secondary-hover: var(--figma-color-neutral-0);
  --figma-button-secondary-pressed: var(--figma-color-green-100);
}

:root[data-theme="dark"] {
  color-scheme: dark;

  --figma-bg-page: var(--figma-color-beige-900);
  --figma-bg-accent: var(--figma-color-green-200);
  --figma-bg-transparent: transparent;

  --figma-text-primary: var(--figma-color-neutral-0);
  --figma-text-secondary: var(--figma-color-neutral-50);
  --figma-text-accent: var(--figma-color-green-200);
  --figma-text-on-accent: var(--figma-color-neutral-900);

  --figma-border-default: var(--figma-color-neutral-700);
  --figma-border-accent: var(--figma-color-green-200);

  --figma-icon-primary: var(--figma-color-neutral-0);
  --figma-icon-secondary: var(--figma-color-neutral-50);
  --figma-icon-accent: var(--figma-color-green-200);
  --figma-icon-on-accent: var(--figma-color-neutral-0);

  --figma-button-secondary-text: var(--figma-text-accent);
  --figma-button-secondary-icon: var(--figma-icon-accent);
  --figma-button-secondary-border: var(--figma-border-default);
  --figma-button-secondary-bg: var(--figma-bg-transparent);
  --figma-button-secondary-hover: var(--figma-color-neutral-0);
  --figma-button-secondary-pressed: var(--figma-color-green-100);
}
